.button, .select{
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    position: relative;
    /* height: 2em; */
    margin: 0;
    /* min-width: 64px; */
    padding: 0 .4em;
    display: inline-block;
    font-family: "Consolas","Helvetica","Arial",sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    vertical-align: middle;
}

.select option {
    color: rgba(255,255,255,.9);
    background: rgb(47, 120, 163);
}

.select option:hover, .select option:active {
    background: rgba(255, 255, 255, 0.2);
}

.button:hover, .select:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button:active, .select:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

#calendar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48, 62, 143));
    color: white;
    padding: 3%;
    border-radius: 8px;
    font-family: sans-serif;
}

.calendar-wrap, .calendar-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.calendar-wrap {
    padding: 10% 0;
    border-right: 2px solid white;
}

.calendar-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 4%;
    /* border: 1px solid white; */
}

.calendar-body__wrap {
    display: flex;
    justify-content: center; 
}

.calendar-body__table {
    width: 60%;
}

thead {
    background: rgb(47,150,163);
}

.calendar-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4%;
    /* min-height: 100%; */
}

.date-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50%;
}

.date-info__form {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.date-info__add-input {
    flex: 0.5;
    outline: none;
    transition: all .2s;
}

.input {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    /* font-size: 1em; */
    color: #757575;
    /* padding: .2em; */
    border-radius: 2px;
    border: none;
    background: rgba(255, 255, 255, 0.466);
}

.input:focus {
    background: rgba(255, 255, 255, 0.822);
}

.input:hover {
    background: rgba(255, 255, 255, 0.822);
}

.todo-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0px;
}

.todo-item {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0.6em;
    /* font-weight: bold; */
}

.todo-item.editing .todo-item__check-label,
.todo-item.editing .todo-item__title {
    display: none;
}

.todo-item.editing .todo-item__textfield {
    display: block;
    flex: 1;
    margin-right: 16px;
}

.todo-item__title {
    /* text-align: center; */
    padding: 0.2em;
    font-size: 1em;
}

.todo-item__edit {
    /* text-align: center; */

    /* padding: 0.4em; */
    font-size: 1.2em;
}

.todo-item__remove {
    /* text-align: center; */

    /* padding: 0.4em; */
    font-size: 1.8em;
}

.todo-item__check-label {
     display: flex;
  position: relative;
  /* border: 1px solid red; */
  width: 1em;
  height: 1em;
  padding: 0.6em;
  /* text-align: center; */
  /*padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

.todo-item__checkbox {
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.todo-item__checkmark {
    position: absolute;
  top: 26%;
  left: 20%;
  height: 0.8em;
  width: 0.8em;
  background-color: #eee;
  border-radius: 0.2em;
}

.todo-item__check-label:hover input ~ .todo-item__checkmark {
    background-color: #ccc;
  }

  .todo-item__check-label input:checked ~ .todo-item__checkmark {
    background-color: #2196F3;
  }

  .todo-item__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .todo-item__check-label input:checked ~ .todo-item__checkmark:after {
    display: block;
  }

  .todo-item__check-label .todo-item__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.todo-item__title {
    margin-right: auto;
}

.todo-item__textfield {
    /* margin: 2%; */
    display: none;
    /* width: 4%; */
}

.calendar-head__button {
    width: 15%;
    height: 30%;
  }

.weather-info {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.weather-info__degree-section {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}